:root {
    --color1: #FFFFFF;
    --color2: #232C67;
    --color3: #C32032;
    --color4: #7E7E7A;
    --color5: #235E39;
    --color6: #D2D3D3; 
}

html {
    background-color: var(--color6);
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 600px;
    background-color: var(--color1);
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

#page-header {
    background-image: linear-gradient(var(--color4), var(--color2));
    color:var(--color1);
}

#page-header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--color1)
}

#logo {
    width: 90px;
    height: 90px;
}


/* Question-and-answer styles */


span.question {
    font-weight: bold;
    color: var(--color3)
}

ul.q-and-a li {
    padding-bottom: 10px;
}